%h2= "#{session[:folder_title]} (<span id='vid_count'>#{@videos.length}</span>)"
#videos{:folder_id => session[:folder_id]}
  -if @videos.length > 0
    -@videos.each do |video|
      .video.hiding{:id => video["bookmark_id"]}
        %div{:class => video["vid_site"]}
          %p= "<a href='#{video["url"]}'>#{video["title"]}</a>"
          %button{:video_id => video["video_id"], :vid_site => video["vid_site"]} Load video
          .vid_embed{:style => 'display: none'}
          %p.description= video["description"]
          .buttonsets{:id => video["bookmark_id"]}
            -if video["starred"] == "0"
              %button Like
              %button.both Like and Archive
              %button Archive
              %button.delete Delete
              %button Move
            -else
              %button Unlike
              %button.both Unlike and Delete
              %button Archive
              %button.delete{:disabled => 'disabled'} Delete
              %button Move
          %hr
    %button#more_videos More Videos
  -else
    %p No videos in this folder.
