%h2= "#{session[:folder_title]} (<span id='vid_count'>#{@videos.length}</span>)"
#videos{:folder_id => session[:folder_id]}
  -if @videos.length > 0
    -@videos.each do |video|
      .video.hiding{:id => video["bookmark_id"], :class => video["vid_site"]}
        %h3= "<a href='#{video["url"]}'>#{video["title"]}</a>"
        .vid_embed{:style => 'display: none'}
        -if video["description"].length > 0
          %p.description= video["description"]
        %button.btn.btn-small.watch{:video_id => video["video_id"], :vid_site => video["vid_site"]} Watch
        -if video["starred"] == "0" # *NOT* liked
          %button.btn.btn-small.like Like
          %button.btn.btn-small.both Like and Archive
          %button.btn.btn-small.archive Archive
          %button.btn.btn-small.delete Delete
          %button.btn.btn-small.move Move
        -else
          %button.btn.btn-small.unlike Unlike
          %button.btn.btn-small.both Unlike and Delete
          %button.btn.btn-small.archive Archive
          %button.btn.btn-small.delete{:disabled => 'disabled'} Delete
          %button.btn.btn-small.move Move
        %hr
    %p#messages
    %button.btn.btn-block#more_videos More Videos
  -else
    %p#messages No videos in this folder.
