%h2= "#{session[:folder_title]} (<span id='vid_count'>#{@videos.length}</span>)"
#videos{:folder_id => session[:folder_id]}
  -if @videos.length > 0
    -@videos.each do |video|
      .video.hiding{:id => video["bookmark_id"], :class => video["vid_site"]}
        %p= "<a href='#{video["url"]}'>#{video["title"]}</a>"
        %button{:video_id => video["video_id"], :vid_site => video["vid_site"]} Load video
        .vid_embed{:style => 'display: none'}
        -if video["description"].length > 0
          %p.description= video["description"]
        .buttons
          -if video["starred"] == "0" # *NOT* liked
            %button.like Like
            %button.both Like and Archive
            %button.archive Archive
            %button.delete Delete
            %button.move Move
          -else
            %button.unlike Unlike
            %button.both Unlike and Delete
            %button.archive Archive
            %button.delete{:disabled => 'disabled'} Delete
            %button.move Move
        %hr
    %p#messages
    %button#more_videos More Videos
  -else
    %p#messages No videos in this folder.
