%h2= "#{session[:folder_title]} (<span id='vid_count'>#{@videos.length}</span>)"
%span#folder_id{:style => 'display: none'}= session[:folder_id]
#videos
  -if @videos.length > 0
    -@videos.each do |video|
      %div.video{:id => video["bookmark_id"]}
        %span= "<a href='#{video["url"]}'>#{video["title"]}</a>"
        .buttonsets
          -if video["starred"] == "0"
            .unliked_buttons
              %button{:id => video["bookmark_id"]} Like
              %button{:id => video["bookmark_id"]} Like and Archive
              %button{:id => video["bookmark_id"]} Archive
              %button{:id => video["bookmark_id"]} Delete
              %button{:id =>  video["bookmark_id"]} Move
            .liked_buttons{:style => 'display: none'}
              %button{:id => video["bookmark_id"]} Unlike
              %button{:id => video["bookmark_id"]} Unlike and Delete
              %button{:id => video["bookmark_id"]} Archive
              %button{:disabled => 'disabled', :id => video["bookmark_id"]} Delete
              %button{:id =>  video["bookmark_id"]} Move
          -else
            .unliked_buttons{:style => 'display: none'}
              %button{:id => video["bookmark_id"]} Like
              %button{:id => video["bookmark_id"]} Like and Archive
              %button{:id => video["bookmark_id"]} Archive
              %button{:id => video["bookmark_id"]} Delete
              %button{:id =>  video["bookmark_id"]} Move
            .liked_buttons
              %button{:id => video["bookmark_id"]} Unlike
              %button{:id => video["bookmark_id"]} Unlike and Delete
              %button{:id => video["bookmark_id"]} Archive
              %button{:disabled => 'disabled', :id => video["bookmark_id"]} Delete
              %button{:id =>  video["bookmark_id"]} Move
  -else
    %p No videos in this folder.
